body {
  margin: 0;
}

/* 1ST PART HEADER */

header {
  background-color: #1f2937;
  color: #e5e7eb;
}

header h1 {
  font-size: 30px;
  color: #f9faf8;
}

nav {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

li {
  list-style-type: none;
}

.header_link {
  color: #e5e7eb;
  text-decoration: none;
}

.header_link:hover {
  text-decoration: underline;
}

/* 2ND PART - FIRST SECTION */
section.first_section {
  background-color: #1f2937;
  color: #e5e7eb;
  display: flex;
  flex: auto;
  flex-direction: row;
  align-items: center;
}

#header_main {
  width: 80%;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#header_main h1 {
  font-size: 48px;
  font-weight: bolder;
  margin: 0;
}

#header_main p {
  font-size: 18px;
  color: #e5e7eb;
  margin: 10px 0 20px;
}

#header_main button {
  padding: 8px 32px;
  background: #3882f6;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: #e5e7eb;
}

#header_main button:hover {
  background: #3961cf;
}

.hero_container {
  width: 47%;
}

.hero_container img {
  border-radius: 10px;
  width: 100%;
  object-fit: cover;
  /* object-position: 70% 30%; */
}

/* 3RD PART - SECOND SECTION */
div.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: khaki;
  border: 1px solid black;
}

div.image_container {
  width: 300px;
  height: 300px;
}

div.image_container img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

/* 4TH PART THIRD SECTION - QUOTE */

section.third_section {
  background-color: lightsalmon;
  border: 1px solid black;
  margin: 20px auto;
}

/* 5TH PART FOURTH SECTION - CALL TO ACTION */

section.fourth_section {
  background-color: lightcoral;
  border: 1px solid black;
}
